rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que cualquiera (incluso sin autenticarse) haga lectura y escritura
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
